.career_container {
  position: relative;
  // background-color: dodgerblue;
  overflow: hidden;
}

.card_career_center {
  width: 75vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .card_career,
  .carousel-cell_career {
    width: 27%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 3%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    // transition: 0.2s;
    a {
      margin-bottom: 4vh;
      padding: 1vh 2vw;
      background-color: rgba(75, 75, 75, 0.671);
      border-radius: 30px;
      color: white;
      z-index: 99;
      transition: 0.2s;
      font-size: 1.3rem;
      text-align: center;
      &:hover {
        background-color: orange;
        transform: scale(1.1);
      }
    }
    .card_career_hover {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 100%;
      width: 100%;
      height: 100%;
      background-color: rgb(255, 255, 255);
      transition: 0.2s ease-out;
      p {
        width: 80%;
        line-height: 1.8rem;
      }
    }
    &:hover .card_career_hover {
      transform: translateX(100%);
    }
  }
}

.carousel-cell_career {
  // background-color: palegreen;
  border: solid 1px black;
  top: 35%;
  margin: 0 4%;
}





.career_join_us {
  position: absolute;
  width: 75%;
  left: 12.5%;
  height: 55vh;
  bottom: 0;
  background-color: #faf8f5;
  transform: translateY(100%);
  transition: 0.2s ease-out;
  z-index: 9;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;

}





.close_career_join_us{
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgb(117, 0, 0);
  top: 1%;
  left: 0.5%;
  border-radius: 50%;
  cursor: pointer;
}

.message_error_succes{
  width: 80%;
  max-height: 18%;
  position: absolute;
  top: 0%;
  overflow-y: scroll;
  border-radius: 0 0 25px 25px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: rgb(238, 96, 44);
  display: flex;
  flex-direction: column;
  padding: 1vh 0;
  .message{
    width: 100%;
    text-align: center;
    margin: 0.5vh 0;
    font-family: Arial;
  }
  .error{
    color: rgb(117, 0, 0);
  }
  .succes{
    color: rgb(0, 133, 22);
  }
}




.form_career{
  width: 80%;
  height: 100%;
 
  // background-color: rgb(56, 56, 56);
  form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    .form_container{
      width: 32%;
      height: 65%;
      // background-color: rgba(42, 42, 170, 0.582);
      margin-bottom: 3% ;
    }
    .right_side_container{
      border-right: solid 4px #DF8D52;
      border-radius: 2px;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      flex-direction: column;
    }
    .center_side_container{
      border-right: solid 4px #DF8D52;
      border-radius: 2px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      .start_center_side_container{
        // width: 100%;
        height: 50%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        // background-color: brown;

      }
    }
    .left_side_container{
      border-radius: 2px;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-end;
      flex-direction: column;
    }
  }
 
 
}





.message_error_succes::-webkit-scrollbar-track
{
	// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #30333400;
}

.message_error_succes::-webkit-scrollbar
{
	width: 12px;
	background-color: #30333400;
}

.message_error_succes::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(56, 56, 56);
}




textarea::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #303334;
}

textarea::-webkit-scrollbar
{
	width: 12px;
	background-color: #303334;
}

textarea::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(238, 96, 44);
}










.career_join_us_triggered {
  transform: translateY(-28.3%);
}

.input_can_write{
  // font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgb(58, 58, 58);
  outline: 0;
  font-size: 1.3rem;
  color: #DF8D52;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  &::placeholder {
    color: transparent;
  }
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid rgb(58, 58, 58);
  -webkit-text-fill-color: #DF8D52;
  -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset;
  transition: background-color 5000s ease-in-out 0s;
}

input[type="file"] {
  display: block;

}
.custom-file-upload {

  border: 1px solid #ccc;
  display: inline;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #303334;
  color: #DF8D52;
  font-family: Arial;
  border-radius: 20px;
}
input[type="file" i]{
  background-color: transparent;
  color: #DF8D52;
  background: transparent;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  padding: 4vh 4vh;
  border: none;
  border: solid 2px #303334;
  border-radius: 10px;
  outline: none;
  font-size: 0.8vw;
  min-width: 14.5vw;
  min-height: 10vh;
  max-width: 14.5vw;
  max-height: 10vh;
  background-color: white;
  transition: 0.2s;
  &:focus{
    background-color: #303334;
    color: #DF8D52;
      &::placeholder{
          color: #DF8D52;
      }
  }
}