$width_game_container_presentation: 40vw;
$carousel_arrow: $width_game_container_presentation / 6.66666667;

@import "./reset.scss";
@import './our_games.scss';
@import './career.scss';
@import './about_us.scss';
@import './list_menue.scss';
@import './start.scss';
@import './responsive.scss';

html {
  scroll-behavior: smooth;
}
body {
  font-family: Coluna;
  overflow: hidden;
  font-family: 'Anton', sans-serif;
  background-color: #303334;
}
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #303334;
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: #303334;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(238, 96, 44);
}





















.container_section{
  width: 100vw;
  height: 100vh;
  border: solid 1px black;
  z-index: 1;
}














