@import './transition_swup.scss';
@import './reset.scss';
// @import './second.scss';

@font-face {
    font-family: "Coluna";
    src: url("../fonts/Coluna.otf") format("otf");
  }
  
  body {
    overflow: hidden;
    font-family: Coluna;
  }
  .background_hexa {
    z-index: 1;
    position: absolute; // to set the div as background
    width: 100vw;
    height: 100vh;
  
    svg {
      transform: scale(1.9, 1.9);
    }
  }
  
  .logo_homepage{
    z-index: 3;
    // background-color: brown;
    position: absolute;
    top: 3%;
    left: 2%;
    height: 10vh;
    width: 7vw;
    img{
      width: 100%;
    }  
  }
  
  .svg_center_container {
    width: 100vw;
    height: 100vh;
  
    background-color: #303434;
    display: flex;
    justify-content: center;
    align-items: center;
    .svg_center_container_link {
      z-index: 2;
      width: 20%;
      height: 30%;
      // background-color: blueviolet;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      svg {
        position: absolute;
        transition: 0.3s;
      }
      .orange_stroke_center {
        z-index: 3;
        width: 60%;
      }
      .hexa_center {
        width: 100%;
        transform: scale(1.2, 1.3);
      }
      p {
        text-transform: uppercase;
        font-size: 3vw;
        z-index: 4;
        overflow: hidden;
        background: linear-gradient(to right, #df8d52 50%, white 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
        transition: background-position 275ms ease;
        text-decoration: none; // text decorations are clipped in WebKit browsers
        }
      }
    }
  .underline_behind_start_container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    .underline_behind_start {
      width: 100vw;
      height: 1vh;
      z-index: 2;
      background-color: #303434;
    }
  }
  
  .test_hover {
    transition: 0.2s ease-out;
    &:hover {
      fill: #df8d52;
    }
  }
  
  
  .path {
    stroke-dasharray: 200;
    stroke-dashoffset: 800;
    animation: dash 2.5s linear infinite ;
    transform-origin: center;
    transition: 4s;
  }
  
  
  
  .svg_center_container{
    &:hover svg{
        transform: scale(1.5);
        
      }
      &:hover .path{
        stroke: #df8d52;
        stroke-width: 2;
        animation: dash 1.6s linear infinite reverse ;
      }
      &:hover .play_center{
          background-position: 0 100%;
        }
      }
  
    @keyframes dash {
      to {
        stroke-dashoffset: 0;
      }
    }
  
    .orange_test{
     
      animation: bg_shape_animation 2s ease-out;
      // transition: 0.2s;
    }
  @keyframes bg_shape_animation{
    50%{ fill: #df8d52;}
    100%{ fill: #faf8f5;} 
  }
  
  


  

  .container_second_page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303334;
  }
  .contenair_hexa_container {
    // width: 40vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .contenair_hexa {
      .contenair_in {
        position: relative;
        margin: 1vh 0 2vw 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        a{
          z-index: 9;
          position: absolute;
          font-size: 2rem;
          color:#df8d52;
        }
      }
    }
    .contenair_hexa_1 {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
    }
    .contenair_hexa_2 {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
    }
  }
  
  .test_air {
    margin: 11vh 0 11vw 0;
  }
  canvas{
    position: absolute;
    height: 100%;
    width: 100%;
    border: solid 1px green;
  }
  