
@import "./reset.scss";
// @import './second.scss';

html {
  scroll-behavior: smooth;
}
body {
  font-family: Coluna;
  overflow: hidden;
  font-family: 'Anton', sans-serif;
}

.logo_homepage {
  z-index: 3;
  // background-color: brown;
  position: fixed;
  top: 3%;
  left: 2%;
  height: 10vh;
  width: 7vw;
  img {
    width: 100%;
  }
}

.svg_center_container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(48, 51, 52);
  display: flex;
  justify-content: center;
  align-items: center;
  .svg_center_container_link {
    z-index: 2;
    width: 20%;
    height: 30.5%;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    svg {
      z-index: 3;
      position: absolute;
      transition: 0.3s;
    }
    .orange_stroke_center {
      z-index: 5;
      width: 60%;
      // z-index: 999999;
    }
    .hexa_center {
      width: 100%;
      transform: scale(1.12, 1.28);
      z-index: 4;

      // background-color: seagreen;
    }
    p {
      text-transform: uppercase;
      font-size: 3vw;
      z-index: 6;
      overflow: hidden;
      background: linear-gradient(to right, #ffffff 50%, rgb(0, 0, 0) 50%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% 100%;
      background-position: 100%;
      transition: background-position 275ms ease;
      text-decoration: none; // text decorations are clipped in WebKit browsers
    }
  }
}
.underline_behind_start_container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  .underline_behind_start {
    width: 100vw;
    height: 1vh;
    z-index: 2;
    background-color: #303434;
  }
}

.test_hover {
  transition: 0.2s ease-out;
  &:hover {
    fill: #df8d52;
  }
}

.path {
  stroke-dasharray: 200;
  stroke-dashoffset: 800;
  animation: dash 2.5s linear infinite;
  transform-origin: center;
  transition: 4s;
}

.svg_center_container {
  &:hover svg {
    transform: scale(1.5);
  }
  &:hover .path {
    stroke: #df8d52;
    stroke-width: 2;
    animation: dash 1.6s linear infinite reverse;
  }
  &:hover .play_center {
    background-position: 0 100%;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.orange_test {
  transition: 1s ease;
  fill: #f7ae7a;
  // animation: bg_shape_animation 2s ease;
  // transition: 0.2s;
}
.orange_test_remove {
  transition: 1s ease;
  fill: #ffffff;
}
@keyframes bg_shape_animation {
  50% {
    fill: #df8d52;
  }
  100% {
    fill: #faf8f5;
  }
}

.svg_content_bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  // background-color: rosybrown;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: center;
}
.svg_container_top {
  top: 0%;
  transition: 0.8s ease;
  svg {
    transform: scale(3.8);
    // background-color: rgba(36, 184, 127, 0.315);
  }
}
.svg_container_bot {
  // transform: rotate(180deg);
  z-index: 1;
  transition: 0.8s ease;
  top: 60%;

  svg {
    transform: scale(3.8);
    // background-color: rgba(30, 126, 204, 0.466);
  }
}
.svg_container {
  position: absolute;
  // background-color: rebeccapurple;
  width: 100vw;
  height: 50vh;
  // overflow: hidden;
}

.test_middle {
  // z-index: 9999;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(65, 105, 225, 0.116);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .h_center {
    width: 49.5vw;
    height: 1vh;
    background-color: saddlebrown;
  }
  .v_center {
    width: 0.5vw;
    height: 100vh;
    background-color: salmon;
  }
}

.testmother {
  z-index: 2;
}








.container_about_us{
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  display: flex;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  background-color: #303334;
  .contenair_hexa_container{
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    // background-color: greenyellow;
    .hexa_container_2{
      height: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      .test_air{
        margin: 5vh 0 11vw 0;
        z-index: 9999;
      }
    }
    .hexa_container_1_3{
      height: 70%;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      svg{
        transform: scale(1.3);
      }
    }
    .hexa_container{
   
      width: 28%;
      .contenair_in {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 30%;
        .inside_svg_animation{
          position: absolute;
          transform: scale(0.8);
        }
        .link_inside_hexa{
          position: absolute;
          z-index: 2;
        }
      }
    }
  }
}






.overflow_body{
  overflow-y: scroll;
}

.go_up {
  transform: translateY(200vh);
  animation: go_up 1s ease;
  // transform: translateX(-150vw);
  // opacity: 0;
  // z-index: 0;
}
.go_down {
  transform: translateY(-200vh);
  animation: go_down 1s ease;
  // transform: translateX(-150vw);
  // opacity: 0;
  // z-index: 0;
}

@keyframes go_up {
  0% {
    transform: translateY(0vh);
  }
  // 50%{transform: translateY(20vh);}
  // 75%{transform: translateY(75vh);}
  90% {
    transform: translateY(200);
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}

@keyframes go_down {
  0% {
    transform: translateY(-0vh);
  }
  // 50%{transform: translateY(-20vh);}
  // 75%{transform: translateY(-75vh);}
  90% {
    transform: translateY(-200);
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}

.sticky_huge_container {
  // background-color: chartreuse;
  // height: 250vh;
  .sticky_container {
    position: absolute;
    height: 500vh;
    width: 10%;
    right: 2%;
    display: flex;
    justify-content: flex-end;
    // background-color: yellowgreen;
    .sticky_menue {
      position: -webkit-sticky;
      position: sticky;
      top: 0px;
      // width: 8%;
      height: 100vh;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      z-index: 3;

      ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 50%;
        // background-color: darkgoldenrod;
        li {
          font-size: 2rem;
          position: relative;
          text-align: start;
          width: 100%;
        }
        a {
          // background-color: rgb(115, 115, 190);
          width: 100%;
          &:hover li {
            color: peru;
          }
        }
      }
    }
    .sticky_menue_animation {
      position: -webkit-sticky;
      position: sticky;
      top: 0px;
      width: 20%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 3;
      // background-color: blueviolet;
      ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 50%;
        // background-color: brown;
        .stick {
          width: 0.2vw;
          // height: 3.149vh;
          height: 5vh;
          background-color: orange;
          transition: 0.2s;
          position: relative;
          &:after {
            content: "";
            position: absolute;
            left: 100%;
            top: 10%;
            width: 0.2vw;
            height: 5vh;
            background-color: rgb(40, 28, 83);
          }
        }
      }
    }
  }
}

.container_section{
  width: 100vw;
  height: 100vh;
  border: solid 1px black;
  z-index: 1;
}


.carousel{
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url('../images/dreadtides_bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .carousel-cell{
    width: 100%;
    height: 100%;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .our_games_center{
    width: 80%;
    // background-color: pink;
  
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .presentation_game{
      width: 40vw;
      height: 55vh;
      background-color: rgba(238, 232, 170, 0.425);
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      .video_show_games{
        width: 80%;
        height: 60%;
        border: solid 2px white;
      }
      .text_about_our_game{
        width: 80%;
        height: 25%;
        border: solid 2px white;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        p{
          margin: 1vh;
          font-size: 0.9rem;
          line-height: 1.8rem;
          font-family: Arial, Helvetica, sans-serif;
        }
      }
    }
}
}



.follow_the_read_section{
  position: absolute;
  width: 10%;
  height: 15vh;
  bottom: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;  
  left: 45%;
  opacity: 0;
  transform: translateY(-5vh);
  transition: 1.2s;
  // background-color: yellowgreen;
  .scroll_now{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    z-index: 9;
    border: solid 1px rgb(253, 251, 251);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: circle_animation 2s ease infinite alternate 3s;
    .circle_scroll{
      svg{
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: brown;
        transform: scale(0.8);
        // transform: scale(0.5);
        path{
          fill: #faf8f5;
        }
      }
    }
    .circle_1{
      width: 80%;
      height: 80%;
      border: solid 1px rgb(253, 251, 251);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: circle_animation 2s ease infinite alternate 2s;
    }
    .circle_2{
      width: 60%;
      height: 60%;
      border: solid 1px rgb(253, 251, 251);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: circle_animation 2s ease infinite alternate 2s;
    }
  }
  @keyframes circle_animation {
    0%{opacity: 0;}
    // 25%{opacity: 0.5;}
    50%{opacity: 1;}
    100%{opacity: 0;}
  }
  
  
  .follow_site{
    width: 20vw;
    height: 2vw;
    z-index: 9;
    // background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    p{
      text-align: center;
      color: white;
      font-size: 1.4rem;
      animation: circle_animation 2s ease infinite alternate 1;
    }
  }
}
.opacity_follow{
  opacity: 1;
  transform: translateY(2vh);
}



// .our_games_container{
//   background-image: url('../images/dreadtides_bg.png');
// }



@media only screen and (max-width: 830px) and (min-width: 446px) {
  .svg_container {
    width: 130vw;
  }
}

@media only screen and (max-width: 446px) and (min-width: 0px) {
  .svg_container {
    width: 180vw;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 0px) {
  .svg_center_container {
    // background-color: silver;

    .svg_center_container_link {
      p {
        font-size: 8vw;
      }
      .orange_stroke_center {
        width: 150%;
        // z-index: 999999;
      }
    }
  }
}


@media only screen and (max-width: 1720px) and (min-width: 950px) {
  .presentation_game{
    width: 80vw;
  }
  .sticky_huge_container .sticky_container{
    width: 18%;
  }
  .sticky_huge_container .sticky_container{
    right: 07%;
  }
  .sticky_huge_container .sticky_container .sticky_menue ul li{
    font-size: 2rem;
  }
}

@media only screen and (max-width: 1330px) and (min-width: 0px) {
  .carousel .our_games_center .presentation_game{
    width: 60%;
    background-color: rgba(47, 142, 206, 0.664);
  }
  .carousel .our_games_center .presentation_game .text_about_our_game p{
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
}

@media only screen and (max-width: 840px) and (min-width: 0px) {
  .carousel .our_games_center .presentation_game{
    width: 70%;
    background-color: rgba(206, 52, 47, 0.562);
  }
  .carousel .our_games_center .presentation_game .text_about_our_game p{
    font-size: 0.7rem;
    line-height: 1.3rem;
  }
}
@media only screen and (max-width: 840px) and (min-width: 0px) {
  .carousel .our_games_center .presentation_game{
    width: 70%;
    height: 82vh;
    background-color: rgba(206, 52, 47, 0.562);
    .text_about_our_game {
      height: 35%;
      p{
        font-size: 0.7rem;
        line-height: 1.3rem;
      }
      
    }
  }
}

@media only screen and (max-width: 950px) and (min-width: 0px) {
  .sticky_huge_container .sticky_container{
    width: 18%;
  }
  .sticky_huge_container .sticky_container{
    right: 07%;
  }
  .sticky_huge_container .sticky_container .sticky_menue ul li{
    font-size: 1.5rem;
  }
}
