html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Coluna";
  src: url("../fonts/Coluna.otf") format("otf");
}
body {
  overflow: hidden;
  font-family: Coluna;
}

.background_hexa {
  z-index: 1;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0.37%;
  top: 0.3%;
}
.background_hexa svg {
  transform: scale(1.2, 1.6);
}

.svg_center_container {
  width: 100vw;
  height: 100vh;
  background-color: #303434;
  display: flex;
  justify-content: center;
  align-items: center;
}
.svg_center_container .svg_center_container_link {
  z-index: 2;
  width: 22%;
  height: 32%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.svg_center_container .svg_center_container_link svg {
  position: absolute;
  transition: 0.3s;
}
.svg_center_container .svg_center_container_link .orange_stroke_center {
  z-index: 3;
  width: 60%;
}
.svg_center_container .svg_center_container_link .hexa_center {
  width: 100%;
  transform: scale(1.2, 1.3);
}
.svg_center_container .svg_center_container_link p {
  text-transform: uppercase;
  font-size: 3vw;
  color: #df8d52;
  z-index: 4;
}

.underline_behind_start_container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.underline_behind_start_container .underline_behind_start {
  width: 100vw;
  height: 2vh;
  z-index: 2;
  background-color: #303434;
}

.test_hover {
  transition: 0.1s ease-out;
}
.test_hover:hover {
  fill: orange;
}

.path {
  stroke-dasharray: 200;
  stroke-dashoffset: 800;
  animation: dash 1s linear infinite;
  transform-origin: center;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
.svg_center_container:hover svg {
  transform: scale(1.5);
}
.svg_center_container:hover .path {
  stroke: #52df81;
}

/*# sourceMappingURL=main.css.map */
